[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
httpie = "*"
boto3 = "*"
flask = "*"
pillow = "*"
waitress = "*"

[requires]
python_version = "3.6"
